# OpenAI API Configuration
OPENAI_BASE_URL=https://llmapi.iec-uit.com/v1
OPENAI_API_KEY=<API_KEY>
OPENAI_MODEL=iec-model
OPENAI_TEMPERATURE=0.5
OPENAI_TIMEOUT_MS=60000

# Default Docker Image for MCP Servers
DEFAULT_MCP_IMAGE=mcp-gen